.square {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.tictactoe {
  position: relative;
}

.tictactoe-row {
  display: flex;
}

.winner-card {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #365324;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  color: black;
}

.winner-card:not(.winner-card--hidden) {
  transition: opacity ease-in-out 0.7s;
}

.winner-card-text {
  margin-bottom: 10px;
}

.winner-card--hidden {
  opacity: 0;
  pointer-events: none;
}
